body {
    background-color:rgb(24, 19, 94);
}

.container {
    background-color: rgb(255, 238, 242);
}

/* Image and Heading Styles */
#heading {
    width: 563px;
    text-align:center;
    width:100%;
    display:block;
    margin:auto;
}

#flower {
    box-shadow: 3 3px .5px rgb(151, 83, 94);
    padding: 1em;
}

.header {
    text-align: center;
}

#image-title {
    font-size: 50px;
    font-family:  Helvetica, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: .5em;
    margin-bottom: .5em;
    color:rgb(24, 19, 94);
}

/* JavaScript Styles */
.main-title {
    text-align: left;
    color:rgb(24, 19, 94);
    margin-left: 40%;
}

.java-space {
    margin-left: 2em;
}

/* Navigation Styles */
nav li {
    display: inline-block;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 20px;
    text-align: auto;
    padding: 0;
    list-style: none;
    color:rgb(24, 19, 94);
}

a {
   text-decoration: none;
   color:rgb(24, 19, 94);
}

/* Article Styles */
.flex-container {
    display: flex;
    display: -webkit-flex;
    width: 100%;
}

.flex-item {
    margin: 1em;
}

/* Footer Styles */
footer {
    background-color:rgb(24, 19, 94);
    color: rgb(255, 238, 242);
    text-align: center;
    padding-top: 2px;
}